.outer-square {
    /* your css goes here */
      width: 600px;
      height: 600px;
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);
  }
  .inner-square {
    /* your css goes here */
    background-color: green;
    width: 190px;
    height: 190px;
  }
  .circle {
    /* your css goes here */
    width: 190px;
    height: 190px;
    background-color: blue;
    border-radius: 50%;
  }